/* Estilo para el texto seleccionado */
::selection {
  background-color: #4b5563;
  color: white;
}

/* Para navegadores webkit (Chrome, Safari, etc.) */
::-webkit-selection {
  background-color: #4b5563;
  color: white;
}

/* Para Firefox */
::-moz-selection {
  background-color: #4b5563;
  color: white;
}
